<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sobiens.Office.SharePointOutlookConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <exceptionHandling>
        <exceptionPolicies>
            <add name="Policy">
                <exceptionTypes>
                    <add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow"/>
                </exceptionTypes>
            </add>
        </exceptionPolicies>
    </exceptionHandling>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
        <listeners>
            <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None"/>
            <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="trace.log"/>
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Machine: {localMachine}{newline}
App Domain: {localAppDomain}{newline}
ProcessId: {localProcessId}{newline}
Process Name: {localProcessName}{newline}
Thread Name: {threadName}{newline}
Win32 ThreadId:{win32ThreadId}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
        </formatters>
        <categorySources>
            <add switchValue="All" name="General">
                <listeners>
                    <add name="Event Log Listener"/>
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events"/>
            <notProcessed switchValue="All" name="Unprocessed Category"/>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Event Log Listener"/>
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
      <Sobiens.Office.SharePointOutlookConnector.Properties.Settings>
        <setting name="SharePointOutlookConnector_SharePointWebsWS_Webs" serializeAs="String">
          <value>http://moss/_vti_bin/webs.asmx</value>
        </setting>
        <setting name="SharePointOutlookConnector_SharePointListsWS_Lists" serializeAs="String">
          <value>http://moss/_vti_bin/lists.asmx</value>
        </setting>
        <setting name="SharePointOutlookConnector_SharePointCopyWS_Copy" serializeAs="String">
          <value>http://moss/_vti_bin/copy.asmx</value>
        </setting>
        <setting name="Sobiens_Office_SharePointOutlookConnector_SharePointVersionsWS_Versions" serializeAs="String">
          <value>http://moss/_vti_bin/versions.asmx</value>
        </setting>
        <setting name="Sobiens_Office_SharePointOutlookConnector_SharePointAlertsWS_Alerts" serializeAs="String">
          <value>http://moss/_vti_bin/Alerts.asmx</value>
        </setting>
        <setting name="Sobiens_Office_SharePointOutlookConnector_SobiensAlertsWS_AlertsWebService" serializeAs="String">
          <value>http://localhost/_layouts/AlertsWebSebService.asmx</value>
        </setting>
        <setting name="Sobiens_Office_SharePointOutlookConnector_SharePointViewsWS_Views" serializeAs="String">
          <value>http://moss/_vti_bin/views.asmx</value>
        </setting>
        <setting name="Sobiens_Office_SharePointOutlookConnector_ActivationService_Activation" serializeAs="String">
          <value>http://www.sobiens.com/activation.asmx</value>
        </setting>
        <setting name="Sobiens_Office_SharePointOutlookConnector_SharePointSiteWS_SiteData" serializeAs="String">
          <value>http://moss/_vti_bin/SiteData.asmx</value>
        </setting>
        <setting name="EmailUploader_SharePointCopyWS_Copy" serializeAs="String">
          <value>http://moss/_vti_bin/copy.asmx</value>
        </setting>
        <setting name="EmailUploader_SharePointListsWS_Lists" serializeAs="String">
          <value>http://moss/_vti_bin/lists.asmx</value>
        </setting>
        <setting name="EmailUploader_SharePointWebsWS_Webs" serializeAs="String">
          <value>http://moss/_vti_bin/webs.asmx</value>
        </setting>
      </Sobiens.Office.SharePointOutlookConnector.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
